<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
<ion-label position="floating">Username</ion-label>
<ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

</ion-list>
<ion-button fill="solid" expand="block" color="success" (click)="login()">Login</ion-button>
<ion-button fill="solid" expand="block" color="success" (click)="logingoogle()">Google Plus</ion-button>
<ion-button fill="solid" expand="block" color="primary" [routerLink]="['/register']">Register</ion-button>
<ion-button expand="full" fill="clear" [routerLink]="['/forgot']">Reset Password</ion-button>
</ion-content>
